*{
    margin: 0;
    padding: 0;
    color: #d6c8e9;
    font-size: 24px;
}
input{
    display: inline-block;
    width: 60%;
    padding: 6px 12px;
    font-size: 14px;
    color: #fff;
    background-color: #9bc9e9;    
}
button{
    width: 70px;
    height: 70px;
    background-color: #c57aa1;
    border-color:#c57aa1;
    border-radius: 3px;
}
span{
    font-size: inherit;
}
.container{
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: #6c83d0;
}
#calc-head{
    padding: 5px;
    width: 100%;
}
#calc-body{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 5px;
}
#equals{
    background-color: #9bc9e9;
}
#clear{
    background-color: #be347c;
    border-color: #f176b6;
    color: #c2addf;
}
#settings{
    font-size: 14px;
    margin-left: 10px;
}
#settings span{
    margin-right: 10px;
}
.num{
    background-color: #eca7cc;
    color: #fff;
}
.d-inline-block{
    display: inline-block;
}
.float-left{
    float: left;
}
.mb{
    margin-bottom: 5px;
}
.me{
    margin-right: 5px;
}
.ms{
    margin-left: 5px;
}
.muted{
    color: #ffd7a346!important;
}